  <!-- CSS -->
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
<!-- JavaScript -->
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

<style>
  .custom-testimonial-container {
    display: flex;
    width: 75%;
    margin: auto;
   border-radius: 25px;   
}


.testimonial-text-wrapper {
  display: flex;
    width:50%;
  /* background: linear-gradient(to right, #f6b042, #deb2b6, #d1dbee, #b3c4e6) !important; */
  border-radius: 25px 0 0 25px; 
}
  
.testimonial-text-container {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
  position:relative;
  height: 100%;
    justify-content: space-around;
}

.testimonial-image-container {
    width: 50%;
    border-radius: 0 25px 25px 0;
}

img.customer-image {
    width: 100%;
    height: 100%;
    border-radius: inherit; 
}

   .content-body-text p{
    text-align: left;
    font-size: 23px;
    font-weight: 600;
    margin-bottom: 25px;
}

  p.red-stars {
    display: flex;
  }

  p.red-stars svg {
    width: 23px !important;
  }
  .additional-info {
    text-align: left;
    font-size: 16px;
}
  .star-container {
    text-align: left;
    margin-bottom: 15px;
}

@media (min-width: 1920px) {
 .content-body-text p{
    font-size: 30px;
}
  p.red-stars svg {
    width: 30px !important;
  }
}

@media (max-width: 1024px) {
 .content-body-text p{
    font-size: 20px;
}
  p.red-stars svg {
    width: 20px !important;
  }
}

@media (max-width: 768px) {
  .custom-testimonial-container {
    width: 100%;
    flex-direction: column;
}
  
  .testimonial-text-wrapper {
    display: flex;
    width: 100%;
   border-radius: 25px 25px 0 0;
}
 
 .testimonial-image-container {
    width: 100%;
    border-radius: 0 0 25px 25px;
}

  .content-body-text p {
    text-align: left;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 25px;
}
  p.red-stars svg {
    width: 20px !important;
  }
  .additional-info {
    text-align: left;
    font-size: 16px;
}
  .star-container {
    text-align: left;
    margin-bottom: 15px;
}
  .testimonial-text-container {
    padding: 30px 0px;
}}

  
  .flickity-prev-next-button {
    top: 80%;
  }

  .flickity-prev-next-button.next {
    right: 46%;
}
 .flickity-prev-next-button.previous {
    left: 46%;
} 

.custom-testimonial-container {
    width: 100%;
    margin-right: 10px;
}
.custom-testimonial-wrapper{
    width: 75%;
    margin: auto;
}

.flickity-viewport {
    height: 500px;
}



@media (max-width: 1650px) and (min-width: 1420px) {
    .flickity-prev-next-button.next {
        right: 45%;
    }
    .flickity-prev-next-button.previous {
        left: 45%;
    }
}

@media (max-width: 1419px) and (min-width: 1150px) {
    .flickity-prev-next-button.next {
        right: 44%;
    }
    .flickity-prev-next-button.previous {
        left: 44%;
    }
}

@media (max-width: 1149px) and (min-width: 860px) {
    .flickity-prev-next-button.next {
        right: 42%;
    }
    .flickity-prev-next-button.previous {
        left: 42%;
    }
}

@media (max-width: 859px) and (min-width: 769px) {
    .flickity-prev-next-button.next {
        right: 40%;
    }
    .flickity-prev-next-button.previous {
        left: 40%;
    }
}

@media (max-width: 768px) {
    .custom-testimonial-wrapper {
        width: 100%;
    }
    .flickity-prev-next-button.previous {
        left: -2%;
    }
    .flickity-prev-next-button.next {
        right: -2%;
    }

  div#shopify-section-template--24143892185419__custom_testimonial_9dAqMB {
    background-color: white;
}
}

  button.flickity-button.flickity-prev-next-button {
    background-color: #ea5167;
    color: #ffffff;
}
</style>

 {%- assign color_scheme_hash = section.settings.color_scheme.settings.background_gradient | default: section.settings.color_scheme.settings.background | md5 -%}
 {%- assign color_scheme_hash_content = section.settings.color_scheme2.settings.background_gradient | default: section.settings.color_scheme2.settings.background | md5 -%}
<div class="{% unless section.settings.remove_vertical_spacing %}section-spacing{% endunless %} color-scheme color-scheme--{{ section.settings.color_scheme.id }} color-scheme--bg-{{ color_scheme_hash }} {% if section.settings.separate_section_with_border %}bordered-section{% endif %}">
<div class="section-stack">
<div class="custom-testimonial-wrapper">
{% for block in section.blocks %}
    <div class="custom-testimonial-container">
      <div class="testimonial-text-wrapper color-scheme color-scheme--{{ section.settings.color_scheme2.id }} color-scheme--bg-{{ color_scheme_hash_content }}">
         <div class="testimonial-text-container">         
          <div class="content-container">
            <div class="star-container">
              <p class="red-stars">
              {% for i in (1..5) %}
                 <span>
                    {% render 'icon-star-red' %}
                 </span>
              {% endfor %}
             </p>
          </div>
            <div class="content-body-text">
               {{ block.settings.content }}              
            </div>
          </div>
          <div class="additional-info">
            <p class="customer-name">{{ block.settings.name }}</p>
            <p class="review-date">{{ block.settings.date }}</p>
          </div>
         </div>
      </div>
      
      <div class="testimonial-image-container">
          <img class="customer-image" src="{{ block.settings.image | image_url: width: 900 }}" alt="{{ block.settings.image.alt }}">
      </div>
   </div>
 {% endfor %}
</div>
</div>
</div>
<script>
var elem = document.querySelector('.custom-testimonial-wrapper');
var flkty = new Flickity( elem, {
  // options
  prevNextButtons: true,
  pageDots: false,
  wrapAround: false,
  cellAlign: "left",
  groupCells: true,
  arrowShape: {"x0": 20, "x1": 60, "y1": 40, "x2": 60, "y2": 35, "x3": 25}
});

// element argument can be a selector string
//   for an individual element
var flkty = new Flickity( '.custom-testimonial-wrapper }}', {
  // options
});
</script>



{% schema %}
  {
    "name": "Custom testimonial",
    "settings": [
       {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:global.colors.scheme",
      "default": "scheme-1"
    },
      {
        "type": "color_scheme",
        "id": "color_scheme2",
        "label": "Color scheme content",
        "default": "scheme-1"
      },
    {
      "type": "checkbox",
      "id": "separate_section_with_border",
      "label": "t:global.section.separate_section_with_border",
      "default": true
    }
    ],
    "blocks": [
        {
          "type": "testimony",
          "name": "testimony",
          "settings": [
                 {
                  "type": "color_scheme",
                  "id": "color_scheme",
                  "label": "t:global.colors.scheme",
                  "default": "scheme-1"
                },
               {
                 "type": "image_picker",
                 "id": "image",
                 "label": "image"
               },
               {
                 "type": "richtext",
                 "id": "content",
                 "label": "content"
               },
               {
                 "type": "inline_richtext",
                 "id": "name",
                 "label": "customer name",
                 "default":"Lulu Meyers"
               },
               {
                 "type": "inline_richtext",
                 "id": "date",
                 "label": "Date",
                 "default":"14 October 2024"
               }
            ]
        }
    ],
    "presets": [
      {
        "name": "Custom testimonial"
      }
    ]
  }
{% endschema %}